#root {
  max-width: 1280px;
  margin: auto;
  padding: 2rem;
  text-align: center;

}

.fill {
  padding: 0%;
  width: 100%;
  height: 100%;
}

.unselectable {
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;

  /*
    Introduced in IE 10.
    See http://ie.microsoft.com/testdrive/HTML5/msUserSelect/
  */
  -ms-user-select: none;
  user-select: none;
}


.heading {
  color: var(--light-accent-text-default);
}


.card-list {
  list-style-type: none;
  width: 358px;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;

  position: relative;
}

.card {
  border: 1px solid var(--surface-border-default);
  color: var(--surface-text-default);
  border-radius: 5px;

  display: flex;

  padding: 16px;
  justify-content:space-between;
  align-items: center;
  flex: 1 0 0;
  align-self: stretch;
  gap: 12px;
}


.card-label-area {
  display: flex;
  gap: 15%;
  font-size: 1.5rem;
  margin: 0%;
  padding: 0%;
  height: 40px;
}
.card-label-area * {
  display: inline;
  margin: 0%;
  padding: 0%;
}
.checkbox {
  border-radius: 6px;
  width: 2rem;
  height: 2rem;
  border: 1px solid var(--accent-background-default);
  accent-color: var(--accent-background-default);

  transform: translateY(5px);
}

ul {
  padding: 0;
  list-style-type: none;
}
ul * {
  margin-top: 16px;
}

.card label {
  color: var(--surface-text-default);

  /* Label / Medium */
  font-family: Noto Sans;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px; /* 142.857% */
}
.card button {
  height: 48px;
  width: 48px;

  padding: 0px 14px 14px 14px;
  margin: 0%;

  background: none;
  
  text-align: center;
  
}

.submit-form {
  display: flex;
  height: 48px;
  padding: 10px 16px;
  align-items: center;
  gap: 16px;
  flex: 1;
}

.input-for-card {
  width: 100%;
  height: 100%;

  border-radius: 12px;
  border: 1px solid var(--surface-border-default);
  background: var(--surface-background-default);

  text-indent: 5%;
  font-size: large;
}
.add-card {
  height: 100%;
  width: 48px;
  border-radius: 12px;
  background: var(--accent-background-default);

  padding: 14px 14px;
  margin: 0%;
  
  text-align: center;
}


.read-the-docs {
  color: #888;
}
